MDBPASSWORD='mTyU9TjeS3EGUb4x'
USERNAME='tiojaimemb'
PORT='3000'
DB_USER='admin'
DB_PASSWORD='123123'
DB_HOST='localhost'
DB_NAME='tjmdb'
DB_PORT='5432'
ACCESS_DOMAIN_001=
ACCESS_DOMAIN_002=
DATABASE_URL=


CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
